.checkout-title {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 700;
}

.checkout-box {
    width: 420px;
    margin: 40px auto;
    background: #111;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,255,0,0.08);
}

.btn-pay {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    background: #12e061;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.btn-pay:hover {
    background: #0bb84c;
}
