.payment-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 20px;
    color: white;
}

.payment-box {
    background: #111;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,255,150,0.1);
    margin-bottom: 30px;
}

.input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    background: #222;
    border: 1px solid #333;
    border-radius: 6px;
    color: white;
}

.btn-save {
    width: 100%;
    background: #0CF26B;
    color: black;
    padding: 12px;
    font-weight: 600;
    border-radius: 8px;
    margin-top: 10px;
}

.error {
    color: #ff5555;
    text-align: center;
    margin-bottom: 10px;
}
