/* ===== GLOBAL ===== */
body {
    margin: 0;
    background-color: #1a1a1a;
    color: #e8e8e8;
    font-family: 'Segoe UI', sans-serif;
}

a {
    color: #12E061;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

/* ===== LAYOUT ===== */
.layout {
    display: flex;
    min-height: 100vh;
}

/* ===== SIDEBAR ===== */
.sidebar {
    width: 230px;              
    background-color: #111111;
    height: 100vh;
    padding-top: 20px;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    display: flex;
    align-items: center;
    padding: 12px 20px;
    color: #ccc;
    font-size: 16px;
    transition: all 0.2s ease;
}

.nav-item:hover {
    background-color: #1d1d1d;
    color: #12E061;
}

.nav-icon {
    margin-right: 10px;
    font-size: 18px;
}

/* ===== MAIN CONTENT ===== */
.main-content {
    margin-left: 200px; 
    padding: 100px;

    display: flex;
    flex-direction: column;
    /* align-items: center;      */
    justify-content: flex-start;
   /* text-align: center;      */
    width: calc(100% - 250px);
}

/* ===== WELCOME PAGE ===== */
.welcome-container {
    text-align: center;
    margin-top: 120px;
    max-width: 800px;
}

.welcome-title {
    font-size: 28px;
    font-weight: 800;
    margin-bottom: 10px;
    color: white;
    white-space: nowrap;
}

.welcome-subtitle {
    font-size: 22px;
    margin-bottom: 30px;
    color: #b5b5b5;
}

.btn-browse {
    background-color: #12E061;
    color: black;
    padding: 14px 32px;
    border-radius: 8px;
    font-size: 20px;
    display: inline-block;
    font-weight: 600;
}

.btn-browse:hover {
    background-color: #0cb950;
}
